<h1>{{productsListCtrl.currentCategoryName}}</h1>

<div>
	<h2>Products to buy</h2>	
	<ul>
		<li ng-repeat="product in productsListCtrl.products | filter:{category:productsListCtrl.getCurrentCategoryName() === 'All categories' ? undefined : productsListCtrl.getCurrentCategoryName()}">
			<button type="button" ng-click="productsListCtrl.deleteProduct(product);">Delete</button>
			<button type="button" ui-sref="neoshopper.categories.products.edit({productId:product.id})">Edit</button>
			{{product.name}}
			{{product.qty}}
			{{product.units}}
		</li>
	</ul>
</div>

<ui-view>
	<button type="button" ng-if="productsListCtrl.getCurrentCategoryName() && productsListCtrl.getCurrentCategoryName() !== 'All categories'" ui-sref="neoshopper.categories.products.create">Add a new item</button>
</ui-view>